<fieldset>
  <h1>ESTADÍSTICAS DE PUBLICACIONES</h1>
  <div class="container-fluid" style="display: block">
    <br/>
    <h3>Revistas: Cuartiles</h3>
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
      [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColors"></canvas>

    <h3>Congresos: Percentiles</h3>
    <canvas baseChart [datasets]="barChartData2" [labels]="barChartLabels2" [options]="barChartOptions"
      [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColors"></canvas>
  </div>
</fieldset>

