<fieldset *ngIf="bool">
	<h1>CREACIÓN DE PROYECTOS</h1>
	<form #formProject="ngForm" (ngSubmit)="onSubmit(formProject);" dateLimitation>
		<div class="form-group">
		<!--appLeadersRestriction>-->

		<div class="requiredInputs">
			<label for="title">Título</label>
			<input type="text" [(ngModel)]="project.title" id='title' name="title" required #title='ngModel' class="form-control">
			<div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
				<span *ngIf="title.errors.required" class="invalid-feedback">El título es necesario</span>
			</div>
			<br>
		</div>

		<label for="description">Descripción</label>
		<input type="text" [(ngModel)]="project.description" id='description' name="description"
			#description='ngModel' class="form-control">
		<div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
			<span>Error en la descripción</span>
		</div>
		<br>

		<div class="requiredInputs">
			<label for="reference">Referencia</label>
			<input type="text" [(ngModel)]="project.reference" id='reference' name="reference"
				#reference='ngModel' class="form-control">
			<div *ngIf="reference.invalid && (reference.dirty || reference.touched)" class="alert alert-danger">
				<span>Error en la referencia</span>
			</div>
		</div>

		<label for="scope">Competencia</label>
		<select [(ngModel)]='project.scope' id='scope' name='scope' #scope='ngModel' class="form-control">
			<option value="NONE">---</option>
			<option value="REGIONAL">Regional</option>
			<option value="NACIONAL">Nacional</option>
			<option value="EUROPEO">Europeo</option>
			<option value="OTROS">Otros</option>
		</select>
		<div *ngIf="scope.invalid && (scope.dirty || scope.touched)" class="alert alert-danger">
			<span>Error en la competencia</span>
		</div>
		<br>


		<label for="status">Estado</label>
		<select [(ngModel)]='project.status' id='status' name='status' #status='ngModel' class="form-control">
			<option value="NONE">---</option>
			<option value="ENVIADO">Enviado</option>
			<option value="RECHAZADO">Rechazado</option>
			<option value="ACEPTADO">Aceptado</option>
		</select>
		<div *ngIf="status.invalid && (status.dirty || status.touched)" class="alert alert-danger">
			<span>Error en el estado</span>
		</div>
		<br>
		<!--
		<div *ngIf="formProject.errors?.badLeader && (formProject.touched || formProject.dirty)"
			class="cross-validation-error-message alert alert-danger">
			<span>El líder tiene que ser un investigador</span>
		</div>-->
		<br>


		<label for="startDate" style="padding: 0px 15px 0px 15px">Fecha de inicio</label>
		<input type="text" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="project.startDate" id='startDate'
			name="startDate" #startDate='ngModel'  class="form-control"/>
		<span class="badge">
			<span (click)="d.toggle()" class="input-group-text oi oi-calendar" title="calendar"
				aria-hidden="true"></span>
		</span>
		<div *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)" class="alert alert-danger">
			<span>Error en la fecha de inicio</span>
		</div>
		<br>

		<label for="duration">Añadir duración</label>
		<select name="durationSelect" id="durationSelect" #duration (change)="addDuration(f,duration)"  class="form-control">
			<option value="0">---</option>
			<option value="1">Un año</option> 
			<option value="2">Dos años</option>
			<option value="3">Tres años</option>
		</select>
		<br>


		<label for="endDate" style="padding: 0px 15px 0px 15px">Fecha de fin</label>
		<input type="text" ngbDatepicker #f="ngbDatepicker" [(ngModel)]="project.endDate" id='endDate' name="endDate"
			#endDate='ngModel' #endDate="formControl" class="form-control" />
		<span class="badge">
			<span (click)="f.toggle()" class="input-group-text oi oi-calendar" title="calendar"
				aria-hidden="true"></span>
		</span>
		<div *ngIf="endDate.invalid && (endDate.dirty || endDate.touched)" class="alert alert-danger">
			<span>Error en la fecha de fin</span><p>{{endDate.errors}}</p>
		</div>
			

		<br>
		<div *ngIf="formProject.errors?.badDates && (formProject.touched || formProject.dirty)"
			class="cross-validation-error-message alert alert-danger">
			<span>La fecha de inicio no puede ser posterior a la de fin.</span>
		</div>

		<label for="sponsor">Patrocinador</label>
		<input type="text" [(ngModel)]="project.sponsor" id='sponsor' name="sponsor" #sponsor='ngModel' class="form-control">
		<div *ngIf="sponsor.invalid && (sponsor.dirty || sponsor.touched)" class="alert alert-danger">
			<span>Error en el patrocinador</span>
		</div>
		<br>

		<div class="requiredInputs">
			<label for="amount">Importe</label>
			<input type="number" [(ngModel)]="project.amount" id='amount' name="amount" required min="0" #amount='ngModel' class="form-control">
			<div *ngIf="amount.invalid && (amount.dirty || amount.touched)" class="alert alert-danger">
				<div *ngIf="amount.errors.required" class="invalid-feedback">El importe debe ser mayor o igual a 0</div>
			</div>
		</div>
		<br>

		<!--añadir mensaje de error-->
		<label for="researchTeam">Equipo de investigación</label>
		<app-acomplete [allList]="researchers" [finalList]="finalResearchers"></app-acomplete>
		<div *ngIf="errors.badResearchers" class="alert alert-danger">
			<span>{{ errors.badResearchers }}</span>
		</div>
		<br>

		<label for="workTeam">Equipo de trabajo</label>
		<!--<input type="text" [(ngModel)]="project.workTeam" id='workTeam' name="workTeam" required><br>-->
		<app-acomplete [allList]="researchers" [finalList]="finalWorkers"></app-acomplete>
		<div *ngIf="errors.badWorkers" class="alert alert-danger">
				<span>{{ errors.badWorkers }}</span>
		</div>
		<div *ngIf="errors.workersNotResearchers" class="alert alert-danger">
				<span>{{ errors.workersNotResearchers }}</span>
		</div>
		<br>

		<label for="hiredStaff">Personal contratado</label>
		<!--<input type="text" [(ngModel)]="project.hiredStaff" id='hiredStaff' name="hiredStaff" required><br>-->
		<app-acomplete [allList]="hireds" [finalList]="finalHireds"></app-acomplete>
		<br>

		<label for="leader">Responsable/s</label>
		<app-acomplete [allList]="researchers" [finalList]="finalLeaders"></app-acomplete>
		<div *ngIf="errors.notLeader" class="alert alert-danger">
			<span>{{ errors.notLeader }}</span>
		</div>
		<!--
		<div *ngIf="formProject.errors?.badLeader && (formProject.touched || formProject.dirty)"
			class="cross-validation-error-message alert alert-danger">
			<span>El líder tiene que ser un investigador</span>
		</div>-->
		<br>


		<!--
		Como no se han implementado las herramientas se quedará como input de texto
		<label for="relatedTools">Herramientas relacionadas</label> <input type="text" [(ngModel)]="project.relatedTools" id='relatedTools'
		 name="relatedTools" #relatedTools='ngModel'>
		<div *ngIf="relatedTools.invalid && (relatedTools.dirty || relatedTools.touched)" class="alert alert-danger">
		</div>
		<br>
		-->
</div>

		<button type="submit" class="btn btn-primary" id="submitForm"
			[disabled]="!formProject.form.valid || formProject.errors">Enviar</button>
	</form>
</fieldset>