<fieldset *ngIf="publication">
  <h1>Detalles de la publicación</h1>
  <table class="table">
      <thead class="thead-display">
          <th scope="col">Propiedad</th>
          <th scope="col">Detalles</th>
      </thead>
      <tbody class="thbody-display">
          <tr>
              <th scope="row" class="encabezado">Título del artículo</th>
              <td>{{ publication.articleTitle }}</td>
          </tr>
          <tr *ngIf="publication.scopusId">
              <th scope="row" class="encabezado">Ids de Scopus</th>
              <td>{{ publication.scopusId }}</td>
          </tr>
          <tr *ngIf="publication.sourceType">
            <th scope="row" class="encabezado">Origen de publicación</th>
            <td>{{ publication.sourceType }}</td>
          </tr>
          <tr *ngIf="publication.documentType">
            <th scope="row" class="encabezado">Tipo de publicación</th>
            <td>{{ publication.documentType }}</td>
          </tr>
          <tr *ngIf="publication.sourceTitle">
            <th scope="row" class="encabezado">Título del origen</th>
            <td>{{ publication.sourceTitle }}</td>
          </tr>
          <tr *ngIf="publication.sourceIdentifier">
            <th scope="row" class="encabezado">Identificador del origen</th>
            <td>{{ publication.sourceIdentifier }}</td>
          </tr>
          <tr *ngIf="publication.sourceVolume">
            <th scope="row" class="encabezado">Tamaño del origen</th>
            <td>{{ publication.sourceVolume }}</td>
          </tr>
          <tr *ngIf="publication.pageRange">
            <th scope="row" class="encabezado">Rango de páginas</th>
            <td>{{ publication.pageRange }}</td>
          </tr>
          <tr *ngIf="publication.publicationDate">
            <th scope="row" class="encabezado">Fecha de publicación</th>
            <td>{{ publication.publicationDate | date }}</td>
          </tr>
          <tr *ngIf="publication.DOI">
            <th scope="row" class="encabezado">DOI</th>
            <td>{{ publication.DOI }}</td>
          </tr>
          <tr *ngIf="publication.ORCID">
            <th scope="row" class="encabezado">ORCID</th>
            <td>{{ publication.ORCID }}</td>
          </tr>
          <tr>
              <th scope="row" class="encabezado">Autores</th>
              <td></td>
          </tr>
          <tr *ngFor="let author of publication.authors">
              <th>{{ author.name }}</th>
              <td>{{ author.surname }}</td>
          </tr>
          <tr *ngIf="publication.affiliation">
              <th scope="row" class="encabezado">Afiliación</th>
              <td>{{ publication.affiliation }}</td>
          </tr>
          <tr *ngIf="publication.assigned">
            <th scope="row" class="encabezado">Asignado</th>
            <td>{{ publication.asigned }}</td>
          </tr>
          <tr *ngIf="publication.quartil">
              <th scope="row" class="encabezado">Cuartil</th>
              <td>{{ publication.quartil }}</td>
          </tr>
          <tr *ngIf="publication.congress">
              <th scope="row" class="encabezado">Congreso</th>
              <td>{{ publication.congress }}</td>
          </tr>
          <tr>
            <th scope="row" class="encabezado">Proyectos</th>
            <td></td>
          </tr>
          <tr *ngFor="let proj of publication.project">
            <th>{{ proj.title }}</th>
            <td>{{ proj.amount }}</td>
          </tr>
          <br>
          <tr>
              <th>
                  <button class="btn-primary" type="button" (click)="editpublication()" id='editButton'>Editar publicacion</button>
              </th>
              <td></td>
          </tr>
      </tbody>
  </table>
  
  <button class="btn-primary" type="button" onclick="window.location.href='/publications'">Volver</button>
</fieldset>