<fieldset *ngIf="publication">
  <h1>DETALLES DE LA PUBLICACIÓN</h1>
  <div class="table-responsive">
  <table class="table table-striped">
      <thead class="thead-display" style="background-color: #155056; color: white">
          <th scope="col">PROPIEDAD</th>
          <th scope="col">DETALLES</th>
      </thead>
      <tbody class="thbody-display">
          <tr>
              <th scope="row">Título del artículo</th>
              <td>{{ publication.articleTitle }}</td>
          </tr>
          <tr *ngIf="publication.scopusId">
              <th scope="row">Ids de Scopus</th>
              <td>{{ publication.scopusId }}</td>
          </tr>
          <tr *ngIf="publication.sourceType">
            <th scope="row" >Origen de publicación</th>
            <td>{{ publication.sourceType }}</td>
          </tr>
          <tr *ngIf="publication.documentType">
            <th scope="row" >Tipo de publicación</th>
            <td>{{ publication.documentType }}</td>
          </tr>
          <tr *ngIf="publication.sourceTitle">
            <th scope="row" >Título del origen</th>
            <td>{{ publication.sourceTitle }}</td>
          </tr>
          <tr *ngIf="publication.sourceIdentifier">
            <th scope="row" >Identificador del origen</th>
            <td>{{ publication.sourceIdentifier }}</td>
          </tr>
          <tr *ngIf="publication.sourceVolume">
            <th scope="row" >Tamaño del origen</th>
            <td>{{ publication.sourceVolume }}</td>
          </tr>
          <tr *ngIf="publication.pageRange">
            <th scope="row" >Rango de páginas</th>
            <td>{{ publication.pageRange }}</td>
          </tr>
          <tr *ngIf="publication.publicationDate">
            <th scope="row" >Fecha de publicación</th>
            <td>{{ publication.publicationDate | date }}</td>
          </tr>
          <tr *ngIf="publication.DOI">
            <th scope="row" >DOI</th>
            <td>{{ publication.DOI }}</td>
          </tr>
          <tr *ngIf="publication.ORCID">
            <th scope="row" >ORCID</th>
            <td>{{ publication.ORCID }}</td>
          </tr>
          <tr>
              <th scope="row" >Autores</th>
              <td>
                  <span *ngFor="let author of publication.authors" style="padding-right: 20px">{{ author.surname }}, {{ author.name }}</span>
              </td>
          </tr>
          <tr *ngIf="publication.affiliation">
              <th scope="row" >Afiliación</th>
              <td>{{ publication.affiliation }}</td>
          </tr>
          <tr *ngIf="publication.assigned">
            <th scope="row" >Asignado</th>
            <td>{{ publication.asigned }}</td>
          </tr>
          <tr *ngIf="publication.quartil">
              <th scope="row" >Cuartil</th>
              <td>{{ publication.quartil }}</td>
          </tr>
          <tr *ngIf="publication.congress">
              <th scope="row" >Congreso</th>
              <td>{{ publication.congress }}</td>
          </tr>
          <tr>
            <th scope="row" >Proyectos</th>
            <td>
                <span *ngFor="let proj of publication.project" style="padding-right: 20px"> {{ proj.title }}, {{ proj.amount }}</span>
            </td>
          </tr>
          <br>
          <tr>
              <th>
                  <button class="btn btn-primary" style="background-color: #f47c3c; border-color: #f47c3c" type="button" (click)="editpublication()" id='editButton'>Editar</button>
              </th>
              <td></td>
          </tr>
      </tbody>
  </table>
  </div>
  <button class="btn btn-primary" type="button" onclick="window.location.href='/publications'">Volver</button>
</fieldset>