<fieldset *ngIf="project">
    <h1>Detalles del proyecto</h1>
    <table class="table">
        <thead class="thead-display">
            <th scope="col">Propiedad</th>
            <th scope="col">Detalles</th>
        </thead>
        <tbody class="thbody-display">
            <tr>
                <th scope="row" class="encabezado">Título</th>
                <td>{{ project.title }}</td>
            </tr>
            <tr *ngIf="project.reference">
                <th scope="row" class="encabezado">Referencia</th>
                <td>{{ project.reference }}</td>
            </tr>
            <tr>
                <th scope="row" class="encabezado">Jefes de proyecto</th>
                <td></td>
            </tr>
            <tr *ngFor="let leader of project.leader">
                <th>{{ leader.name }}</th>
                <td>{{ leader.surname }}</td>
            </tr>
            <tr *ngIf="project.description">
                <th scope="row" class="encabezado">Descripción</th>
                <td>{{ project.description }}</td>
            </tr>
            <tr>
                <th scope="row" class="encabezado">Equipo de investigación</th>
                <td></td>
            </tr>
            <tr *ngFor="let researcher of project.researchTeam">
                <th>{{ researcher.name }}</th>
                <td>{{ researcher.surname }}</td>
            </tr>
            <tr>
                <th scope="row" class="encabezado">Equipo de trabajo</th>
                <td></td>
            </tr>
            <tr *ngFor="let worker of project.workTeam">
                <th>{{ worker.name }}</th>
                <td>{{ worker.surname }}</td>
            </tr>
            <tr *ngIf="project.hiredStaff.length > 1">
                <th scope="row" class="encabezado">Personal contratado</th>
                <td></td>
            </tr>
            <tr *ngFor="let hired of project.hiredStaff">
                <th>{{ hired.name }}</th>
                <td>{{ hired.surname }}</td>
            </tr>
            <tr>
                <th scope="row" class="encabezado">Importe</th>
                <td>{{ project.amount }}</td>
            </tr>
            <tr *ngIf="project.scope != 'NONE'">
                <th scope="row" class="encabezado">Competencia</th>
                <td>{{ project.scope }}</td>
            </tr>
            <tr *ngIf="project.status != 'NONE'">
                <th scope="row" class="encabezado">Estado</th>
                <td>{{ project.status }}</td>
            </tr>
            <tr *ngIf="project.sponsor">
                <th scope="row" class="encabezado">Patrocinador</th>
                <td>{{ project.sponsor }}</td>
            </tr>
            <tr *ngIf="project.startDate != null">
                <th scope="row" class="encabezado">Fecha de inicio</th>
                <td>{{ project.startDate | date }}</td>
            </tr>
            <tr *ngIf="project.endDate != null">
                <th scope="row" class="encabezado">Fecha de finalización</th>
                <td>{{ project.endDate | date }}</td>
            </tr>
            <tr>
                <td>
                    <button class="btn-primary" type="button" (click)="editProject()">Editar proyecto</button>
                    <button class="btn-primary" type="button" (click)="deleteProject()">Borrar proyecto</button>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead class="thead-display">
            <th scope="col">Publicaciones relacionadas</th>
            <th scope="col"><button class="btn-primary" type="button" (click)="addPublications()">Añadir</button></th>
        </thead>
        <tbody class="thbody-display">
            <!--TODO hacer esto como enlaces o a saber, hay que pensarlo-->
            <tr *ngFor="let pub of publications">
                <th>{{ pub.scopusId }}</th>
                <td>{{ pub.articleTitle }}</td>
            </tr>
            <tr *ngIf="project.relatedTools.length > 1">
                <th scope="row" class="encabezado">Herramientas relacionadas</th>
                <td>{{ project.relatedTools }}</td>
            </tr>
        </tbody>
    </table>
</fieldset>