<fieldset *ngIf="bool">
  <h1>Creacion de perfiles</h1>
  <form #formPerson="ngForm" (ngSubmit)="onSubmit(formPerson);">
    <div class="form-group">
      <div class="requiredInputs">
        <label for="name">Nombre</label>
        <input type="text" [(ngModel)]="person.name" id="name" name="name" required #name='ngModel' class="form-control">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          <span>Error en el nombre</span>
        </div>
        <br>

        <label for="surname">Apellidos</label>
        <input type="text" [(ngModel)]="person.surname" id="surname" name="surname" required #surname='ngModel' class="form-control">
        <div *ngIf="surname.invalid && (surname.dirty || surname.touched)" class="alert alert-danger">
          <span>Error en los apellidos</span>
        </div>
        <br>

        <label for="email">Email</label>
        <input type="email" [(ngModel)]="person.email" id="email" name="email" required #email='ngModel' class="form-control">
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
          <span>Error en el email</span>
        </div>
        <br>
      </div>
      <label for="photo">Foto (Url)</label>
      <input type="text" [(ngModel)]="person.photo" id="photo" name="photo" #photo='ngModel' class="form-control"
      pattern="(http(s)?:\/\/)?(www.)?\S*\.\S*">
      <div *ngIf="photo.invalid && (photo.dirty || photo.touched)" class="alert alert-danger">
        <span>La URL no es válida</span>
      </div>
      <br>
      <div>
        <label for="telf">Telefono</label>
        <input type="text" [(ngModel)]="person.telf" id="telf" name="telf" #telf='ngModel' class="form-control">
        <div *ngIf="telf.invalid && (telf.dirty || telf.touched)" class="alert alert-danger">
          <span>Error en el telefono</span>
        </div>
        <br>

        <label for="job">Rol</label>
        <select [(ngModel)]='person.job' id='job' name='job' #job='ngModel' class="form-control" required>
          <option value="RESEARCHER">Investigador</option>
          <option value="HIRED">Personal externo</option>
        </select>
        <div *ngIf="job.invalid && (job.dirty || job.touched)" class="alert alert-danger">
          <span>Error en el rol</span>
        </div>
        <br>
      </div>
      <br>
      <div *ngIf="person.job == 'RESEARCHER'">
        <label for="office">Despacho</label>
        <input type="text" [(ngModel)]="person.office" id="office" name="office" #office='ngModel' class="form-control" pattern="[A-Ia-i]\d\.\d{2}">
        <div *ngIf="office.invalid && (office.dirty || office.touched)" class="alert alert-danger">
          <span>Error en el despacho</span>
        </div>
        <br>

        <label for="scopusId">Id de Scopus</label>
        <input type="text" [(ngModel)]="person.scopusId" id="scopusId" name="scopusId" #scopusId='ngModel'
          [required]="person.job == 'RESEARCHER'" class="form-control">
        <div *ngIf="scopusId.invalid && (scopusId.dirty || scopusId.touched)" class="alert alert-danger">
          <span>Error en el Id de Scopus</span>
        </div>
        <br>

        <label for="professionalStatus">Situación profesional</label>
        <select [(ngModel)]='person.professionalStatus' id='professionalStatus' name='professionalStatus'
          #professionalStatus='ngModel' class="form-control">
          <option value="NONE" selected>---</option>
          <option value="RESEARCHER">Investigador</option>
          <option value="STUDENT">Estudiante</option>
          <option value="TECHNICIAN">Técnico</option>
        </select>
        <div *ngIf="professionalStatus.invalid && (professionalStatus.dirty || professionalStatus.touched)"
          class="alert alert-danger">
          <span>Error en la situación profesional</span>
        </div>
        <br>

        <label for="urls">Perfiles externos (Urls)</label>
        <textarea [(ngModel)]="person.urls" name="urls" id="urls" #urls='ngModel' class="form-control"></textarea>
        <div *ngIf="urls.invalid && (urls.dirty || urls.touched)" class="alert alert-danger">
          <span>Error en los perfiles</span>
        </div>
        <br>

      </div>
    </div>

    <button type="submit" class="btn btn-primary" id="submitForm"
      [disabled]="!formPerson.form.valid || formPerson.errors">Enviar</button>
  </form>

</fieldset>