<fieldset>
  <h1>ESTADÍSTICAS DE PROYECTOS</h1>
    <br>
  <div class="container-fluid" style="display: block">
    <h3>Financiación media</h3>
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
      [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColors"></canvas>
    <br>
    <br>
    <h3>Media de proyectos</h3>
    <canvas baseChart [datasets]="barChartData2" [labels]="barChartLabels" [options]="barChartOptions"
      [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColors"></canvas>
  </div>
</fieldset>