<fieldset>
  <h1 class="fon-weight-bold">BIENVENIDO</h1>
  <div class="card text-white bg-primary mb-3">
    <div class="card-header">Card 1</div>
    <div class="card-body">
      <h4 class="card-title">Primary card title</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor purus quis ullamcorper
        consectetur.
        Nullam lobortis tellus in sapien pharetra rhoncus. Nam pellentesque ornare purus, sed luctus purus mattis
        dignissim. Nam quis tortor suscipit, efficitur mauris eu, tincidunt nisi. Sed tincidunt, ante vel eleifend
        ultrices, orci sapien iaculis augue, nec scelerisque diam tortor ut tortor. Suspendisse elementum non nulla vel
        feugiat. Ut vel ultricies est. Mauris ultrices consequat lacus sit amet cursus. Aliquam sit amet porta nisl.
        Donec
        euismod, lorem ac imperdiet molestie, nulla orci egestas ipsum, vel egestas eros lectus id sapien.

        Nam et blandit nibh. Nullam vulputate tortor eu risus auctor, quis vulputate felis euismod. Nunc egestas ligula
        id
        tellus eleifend, a commodo est porttitor. Suspendisse fermentum turpis diam, nec sagittis libero consectetur in.
        Aliquam a dui sit amet sem lacinia scelerisque et eget neque. Quisque ultrices, metus vitae bibendum porta,
        dolor
        sem dignissim elit, eu viverra tortor massa quis odio. Phasellus sem ante, molestie vitae mi tempor, commodo
        interdum felis. Proin quis dignissim neque. Nulla posuere fermentum dui vitae porttitor.

        Etiam eget est sit amet sem porttitor suscipit. Quisque id lacus magna. Quisque congue in justo non mattis.
        Fusce
        mi odio, scelerisque non ipsum vel, gravida cursus velit. Ut in leo ut enim commodo malesuada. Phasellus nulla
        massa, tristique in quam pretium, hendrerit molestie elit. Ut rhoncus, lectus quis aliquet mollis, nisi mi
        tristique dolor, ut scelerisque velit nibh a velit. Nullam condimentum molestie lacus eu congue. In ut venenatis
        purus. Ut rutrum elementum velit at consectetur. Maecenas luctus, odio et dapibus finibus, dui nibh mollis ex,
        non
        semper massa nisl non risus. Nam id eros ante.</p>
    </div>
  </div>

</fieldset>