<fieldset>
  <h1 class="fon-weight-bold">BIENVENIDO</h1>
<br/>
  <p>En este proyecto se pretendía aplicar lo aprendido en la carrera en un entorno lo más realista posible a la vez que
    aprender sobre tecnologías actuales y que no se conocían.</p>

    <p>El núcleo es el grupo de investigación ISA de la escuela de Informática, que tiene un portal con diversa información
    como los integrantes (tanto actuales como antiguos), las líneas de investigación en curso, los proyectos en los que
    han participado a lo largo de los años o las herramientas que han desarrollado en esos proyectos.</p>

    <p>Toda esta información se obtiene por medio de los propios miembros del grupo o de páginas de Internet como Scopus,
    pero su procesamiento es manual o por medio de Excels descentralizados. Al ser información con tendencia al cambio
    (por ejemplo se realizan muchas publicaciones a lo largo del año) su procesamiento se convierte en una tarea ardua.
    Además, esta descentralización conlleva a una desconexión total entre los distintos elementos de información, que en
    la vida real tienen una conexión directa. Por ejemplo las publicaciones están relacionadas con los proyectos, igual
    pasa con las herramientas y a su vez; los proyectos están conformados por los miembros del grupo.</p>

    <p>En esta tesitura, aparece una necesidad: crear una aplicación web que conecte todas las piezas de información, las
    vuelva accesibles y fáciles de crear y actualizar, y además forme una integración con la información que se obtiene
    de forma externa para en resumen, facilitar la utilización del portal. </p>

</fieldset>