<h2>Proyectos</h2>

<script type="text/javascript">
	$(document).ready(function () {
		console.log("ready")
		$("#fecha").css("height", $("#endDate").css("height"));
		$('.btn-filter').on('click', function () {
			var $target = $(this).data('target');
			if ($target != 'all') {
				$('.table tr').css('display', 'none');
				$('.table tr[data-status="' + $target + '"]').fadeIn('slow');
			} else {
				$('.table tr').css('display', 'none').fadeIn('slow');
			}
		});
	});
	$(window).on("load", function () {
		console.log("load")
		$("#fecha").css("height", "27px");
	});
</script>

<fieldset>
	<legend>Creacion de proyectos</legend>
	<form #formProject="ngForm" (ngSubmit)="onSubmit(formProject);" dateLimitation>

		<!--añadir mensaje de error-->
		<label for="researchTeam">Equipo de investigacion</label>
		<app-acomplete [allList]= "researchers" [finalList]="finalResearchers"></app-acomplete>
		<br>

		<label for="workTeam">Equipo de trabajo</label>
		<!--<input type="text" [(ngModel)]="project.workTeam" id='workTeam' name="workTeam" required><br>-->
		<app-acomplete [allList]= "researchers" [finalList]="finalWorkers"></app-acomplete>
		<br>

		<label for="hiredStaff">Personal contratado</label>
		<!--<input type="text" [(ngModel)]="project.hiredStaff" id='hiredStaff' name="hiredStaff" required><br>-->
		<app-acomplete [allList]= "hireds" [finalList]="finalHireds"></app-acomplete>
		<br>

		<div class="requiredInputs">
			<label for="title">Titulo</label>
			<input type="text" [(ngModel)]="project.title" id='title' name="title" required #title='ngModel'>
			<div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
				<span *ngIf="title.errors.required" class="invalid-feedback">El título es necesario</span>
			</div>
			<br>


			<label for="description">Descripcion</label>
			<input type="text" [(ngModel)]="project.description" id='description' name="description" required
				#description='ngModel'>
			<div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
				<div *ngIf="description.errors.required" class="invalid-feedback">La descripción es necesaria</div>
			</div>
		</div>
		<br>

		<label for="leader">Responsable/s</label>
		<app-acomplete [allList]= "researchers" [finalList]="finalLeaders"></app-acomplete>
		<!--
		<div *ngIf="leader.invalid && (leader.dirty || leader.touched)" class="alert alert-danger">
			<div *ngIf="leader.errors.required" class="invalid-feedback">El responsable es necesario</div>
		</div> -->
		<br>

		<div class="requiredInputs">
			<label for="reference">Referencia</label>
			<input type="text" [(ngModel)]="project.reference" id='reference' name="reference" required
				#reference='ngModel'>
			<div *ngIf="reference.invalid && (reference.dirty || reference.touched)" class="alert alert-danger">
				<div *ngIf="reference.errors.required" class="invalid-feedback">La referencia es necesaria</div>
			</div>
			<br>


			<label for="scope">Competencia</label>
			<select [(ngModel)]='project.scope' id='scope' name='scope' required #scope='ngModel' class="custom-select">
				<option value="REGIONAL">Regional</option>
				<option value="NACIONAL">Nacional</option>
				<option value="EUROPEO">Europeo</option>
				<option value="OTROS">Otros</option>
			</select>
			<div *ngIf="scope.invalid && (scope.dirty || scope.touched)" class="alert alert-danger">
				<div *ngIf="scope.errors.required" class="invalid-feedback">La competencia es necesaria</div>
			</div>
			<br>


			<label for="status">Estado</label>
			<select [(ngModel)]='project.status' id='status' name='status' required #status='ngModel'
				class="custom-select">
				<option value="ENVIADO">Enviado</option>
				<option value="RECHAZADO">Rechazado</option>
				<option value="ACEPTADO">Aceptado</option>
			</select>
			<div *ngIf="status.invalid && (status.dirty || status.touched)" class="alert alert-danger">
				<div *ngIf="status.errors.required" class="invalid-feedback">El estado es necesario</div>
			</div>
			<br>


			<label for="startDate" style="padding: 0px 15px 0px 15px">Fecha de inicio</label>
			<input type="text" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="project.startDate" id='startDate'
				name="startDate" required #startDate='ngModel' />
			<span class="badge">
				<span (click)="d.toggle()" class="input-group-text oi oi-calendar" title="calendar"
					aria-hidden="true"></span>
			</span>
			<div *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)" class="alert alert-danger">
				<div *ngIf="startDate.errors.required" class="invalid-feedback">La fecha de inicio es necesaria</div>
			</div>
			<br>

			<!--
			<label for="duration">Duracion</label>
			<select name="durationSelect" id="durationSelect" [(ngModel)]="duration">
				<option value="1">Un año</option> 
				<option value="2">Dos años</option>
				<option value="3">Tres años</option>
			</select>
			<div *ngIf="duration.invalid && (duration.dirty || duration.touched)" class="alert alert-danger">
				<div *ngIf="duration.errors.required" class="invalid-feedback">La duracion es necesaria</div>
			</div>
			<br>
			-->
			<label for="endDate" style="padding: 0px 15px 0px 15px">Fecha de fin</label>
			<input type="text" ngbDatepicker #f="ngbDatepicker" [(ngModel)]="project.endDate" id='endDate'
				name="endDate" required #endDate='ngModel' #endDate="formControl" />
			<span class="badge">
				<span (click)="f.toggle()" class="input-group-text oi oi-calendar" title="calendar"
					aria-hidden="true"></span>
			</span>
			<div *ngIf="endDate.invalid && (endDate.dirty || endDate.touched)" class="alert alert-danger">
				<div *ngIf="endDate.errors.required" class="invalid-feedback">La fecha de fin es necesaria</div>
			</div>

			<br>
			<div *ngIf="formProject.errors?.badDates && (formProject.touched || formProject.dirty)"
				class="cross-validation-error-message alert alert-danger">
				<span>La fecha de inicio no puede ser posterior a la de fin.</span>
			</div>

			<label for="sponsor">Patrocinador</label>
			<input type="text" [(ngModel)]="project.sponsor" id='sponsor' name="sponsor" required
				#sponsor='ngModel'>
			<div *ngIf="sponsor.invalid && (sponsor.dirty || sponsor.touched)" class="alert alert-danger">
				<div *ngIf="sponsor.errors.required" class="invalid-feedback">El patrocinador es necesario</div>
			</div>
			<br>


			<label for="amount">Importe</label>
			<span class="badge">
				<span class="input-group-text">€</span>
			</span>
			<input type="number" [(ngModel)]="project.amount" id='amount' name="amount" required min="0"
				#amount='ngModel'>
			<span class="badge">
				<span class="input-group-text">.00</span>
			</span>
			<div *ngIf="amount.invalid && (amount.dirty || amount.touched)" class="alert alert-danger">
				<div *ngIf="amount.errors.required" class="invalid-feedback">El importe es necesario</div>
			</div>
			<br>
		</div>

		<!--
		Como no se han implementado las publicaciones se quedará como input de texto
		TODO: Convertir en select
		<label for="relatedPublications">Publicaciones relacionadas</label>
		<input type="text" [(ngModel)]="project.relatedPublications" id='relatedPublications' name="relatedPublications"
		 #relatedPublications='ngModel'>
		<div *ngIf="relatedPublications.invalid && (relatedPublications.dirty || relatedPublications.touched)" class="alert alert-danger">

		</div>
		<br>


		Como no se han implementado las herramientas se quedará como input de texto
		TODO: Convertir en select
		<label for="relatedTools">Herramientas relacionadas</label> <input type="text" [(ngModel)]="project.relatedTools" id='relatedTools'
		 name="relatedTools" #relatedTools='ngModel'>
		<div *ngIf="relatedTools.invalid && (relatedTools.dirty || relatedTools.touched)" class="alert alert-danger">

		</div>
		<br>
		-->


		<button type="submit" class="btn btn-primary" id="submitForm"
			[disabled]="!formProject.form.valid || formProject.errors">Enviar</button>
	</form>
</fieldset>


<fieldset>
	<legend>Busqueda por id</legend>
	<input type="text" [(ngModel)]="projectId" (keyup.enter)="find()" id="idInput" />
	<div *ngIf="responseFind">
		<h5>Equipo de investigacion: {{responseFind.researchTeam}}</h5>
		<h5>Equipo de trabajo: {{responseFind.workTeam}}</h5>
		<h5>Personal contratado: {{responseFind.hiredStaff}}</h5>
		<h5>Titulo: {{responseFind.title}}</h5>
		<h5>Descripcion: {{responseFind.description}}</h5>
		<h5>Responsable: {{responseFind.leader}}</h5>
		<h5>Referencia: {{responseFind.reference}}</h5>
		<h5>Competencia: {{responseFind.scope}}</h5>
		<h5>Estado: {{responseFind.status}}</h5>
		<h5>Patrocinador: {{responseFind.sponsor}}</h5>
		<h5>Fecha de inicio: {{responseFind.startDate | date:'longDate'}}</h5>
		<h5>Fecha de fin: {{responseFind.endDate | date:'longDate'}}</h5>
		<h5>Importe: {{responseFind.amount}}</h5>
		<h5>Publicaciones relacionadas: {{responseFind.relatedPublications}}</h5>
		<h5>Herramientas relacionadas: {{responseFind.relatedTools}}</h5>

	</div>
</fieldset>

<fieldset>
	<legend>Borrado de proyectos</legend>
	<input type="text" [(ngModel)]="projectId2" (keyup.enter)="delete()" id="idInput2" />
</fieldset>

<fieldset>
	<legend>Listado de proyectos</legend>
	<button type="button" class="btn btn-primary" (click)="listar(true)" id="listPublicProyectsButton">Listar</button>
	<button type="button" class="btn btn-primary" (click)="listar(false)"
		id="unlistPublicProyectsButton">Ocultar</button>
	<br>
	<div class="row" id="listPublicProyectsTable" *ngIf="listado != undefined">
	<label for="searchpp">Búsqueda por nombre y referencia</label>
	<app-acomplete id="searchpp" [allList]= "search" [finalList]="finalSearch" (keyup)="actualizarLista()"></app-acomplete>
		<section class="content">
			<br>
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-body">
							<app-display [fields]="fields" [visible]="showDisplay" [objeto]="selectedPro" #display></app-display>
						<div class="pull-right">
							<div class="btn-group">
								<button type="button" class="btn btn-success btn-filter"
									data-target="activo">Activos</button>
								<button type="button" class="btn btn-warning btn-filter" data-target="tres">3
									años</button>
								<button type="button" class="btn btn-danger btn-filter" data-target="cinco">5
									años</button>
								<button type="button" class="btn btn-light btn-filter" data-target="all">Todos</button>
							</div>
						</div>
						<div class="table-container">
							<table class="table table-filter">
								<tbody>
									<tr *ngFor="let invPro of listado" [attr.data-status]="getStatus(invPro)" (click)="selected(invPro,display)">
										<!--Hacer javascript para averiguarlo-->
										<td>
											<div class="media">
												<div class="media-body">
													<!--datos-->
													<span class="media-meta pull-right">{{ invPro.startDate }}</span>
													<span class="media-meta pull-right"> / </span>
													<span class="media-meta pull-right">{{ invPro.endDate }}</span>
													<h4 class="title">
														{{ invPro.title }}
														<span
															[attr.class]="getStatus(invPro)">{{ getStatus(invPro) }}</span>
														<!--Rellenar una vez tengamos javascript-->
													</h4>
													<p class="summary">{{ invPro.scope }} - {{ invPro.reference }}</p>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</fieldset>
<br>