<fieldset>
	<h1>Creacion de proyectos</h1>
	<form #formProject="ngForm" (ngSubmit)="onSubmit(formProject);" dateLimitation>
		<!--appLeadersRestriction>-->

		<!--añadir mensaje de error-->
		<label for="researchTeam">Equipo de investigacion</label>
		<app-acomplete [allList]="researchers" [finalList]="finalResearchers" ng-focus="mostrar = false" ng-blur="mostrar = true"></app-acomplete>
		<div *ngIf="!finalResearchers.length >=1 && mostrar" class="alert alert-danger">
			<span>El equipo de investigación es necesario.</span>
		</div>
		<br>

		<label for="workTeam">Equipo de trabajo</label>
		<!--<input type="text" [(ngModel)]="project.workTeam" id='workTeam' name="workTeam" required><br>-->
		<app-acomplete [allList]="researchers" [finalList]="finalWorkers"></app-acomplete>
		<br>

		<label for="hiredStaff">Personal contratado</label>
		<!--<input type="text" [(ngModel)]="project.hiredStaff" id='hiredStaff' name="hiredStaff" required><br>-->
		<app-acomplete [allList]="hireds" [finalList]="finalHireds"></app-acomplete>
		<br>

		<div class="requiredInputs">
			<label for="title">Titulo</label>
			<input type="text" [(ngModel)]="project.title" id='title' name="title" required #title='ngModel'>
			<div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
				<span *ngIf="title.errors.required" class="invalid-feedback">El título es necesario</span>
			</div>
			<br>
		</div>

		<label for="description">Descripcion</label>
		<input type="text" [(ngModel)]="project.description" id='description' name="description"
			#description='ngModel'>
		<div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
			<span>Error en la descripción</span>
		</div>
		<br>

		<label for="leader">Responsable/s</label>
		<app-acomplete [allList]="researchers" [finalList]="finalLeaders"></app-acomplete>
		<div *ngIf="validateLeader() == false" class="alert alert-danger">
		<span>El líder tiene que ser un investigador.</span>
		</div>
		<!--
		<div *ngIf="formProject.errors?.badLeader && (formProject.touched || formProject.dirty)"
			class="cross-validation-error-message alert alert-danger">
			<span>El líder tiene que ser un investigador</span>
		</div>-->
		<br>


		<label for="reference">Referencia</label>
		<input type="text" [(ngModel)]="project.reference" id='reference' name="reference"
			#reference='ngModel'>
		<div *ngIf="reference.invalid && (reference.dirty || reference.touched)" class="alert alert-danger">
			<span>Error en la referencia</span>
		</div>
		<br>


		<label for="scope">Competencia</label>
		<select [(ngModel)]='project.scope' id='scope' name='scope' #scope='ngModel' class="custom-select">
			<option value="REGIONAL">Regional</option>
			<option value="NACIONAL">Nacional</option>
			<option value="EUROPEO">Europeo</option>
			<option value="OTROS">Otros</option>
		</select>
		<div *ngIf="scope.invalid && (scope.dirty || scope.touched)" class="alert alert-danger">
			<span>Error en la competencia</span>
		</div>
		<br>


		<label for="status">Estado</label>
		<select [(ngModel)]='project.status' id='status' name='status' #status='ngModel' class="custom-select">
			<option value="ENVIADO">Enviado</option>
			<option value="RECHAZADO">Rechazado</option>
			<option value="ACEPTADO">Aceptado</option>
		</select>
		<div *ngIf="status.invalid && (status.dirty || status.touched)" class="alert alert-danger">
			<span>Error en el estado</span>
		</div>
		<br>


		<label for="startDate" style="padding: 0px 15px 0px 15px">Fecha de inicio</label>
		<input type="text" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="project.startDate" id='startDate'
			name="startDate" #startDate='ngModel' />
		<span class="badge">
			<span (click)="d.toggle()" class="input-group-text oi oi-calendar" title="calendar"
				aria-hidden="true"></span>
		</span>
		<div *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)" class="alert alert-danger">
			<span>Error en la fecha de inicio</span>
		</div>
		<br>


		<label for="endDate" style="padding: 0px 15px 0px 15px">Fecha de fin</label>
		<input type="text" ngbDatepicker #f="ngbDatepicker" [(ngModel)]="project.endDate" id='endDate' name="endDate"
			#endDate='ngModel' #endDate="formControl" />
		<span class="badge">
			<span (click)="f.toggle()" class="input-group-text oi oi-calendar" title="calendar"
				aria-hidden="true"></span>
		</span>
		<div *ngIf="endDate.invalid && (endDate.dirty || endDate.touched)" class="alert alert-danger">
			<span>Error en la fecha de fin</span>
		</div>

		<label for="duration">Añadir años</label>
			<select name="durationSelect" id="durationSelect" #duration (change)="console(endDate,duration, startDate)">
				<option value="1">Un año</option> 
				<option value="2">Dos años</option>
				<option value="3">Tres años</option>
			</select>
			<button type="button" (click)="console(endDate)">Añadir</button>

		<br>
		<div *ngIf="formProject.errors?.badDates && (formProject.touched || formProject.dirty)"
			class="cross-validation-error-message alert alert-danger">
			<span>La fecha de inicio no puede ser posterior a la de fin.</span>
		</div>

		<label for="sponsor">Patrocinador</label>
		<input type="text" [(ngModel)]="project.sponsor" id='sponsor' name="sponsor" #sponsor='ngModel'>
		<div *ngIf="sponsor.invalid && (sponsor.dirty || sponsor.touched)" class="alert alert-danger">
			<span>Error en el patrocinador</span>
		</div>
		<br>


		<label for="amount">Importe</label>
		<span class="badge">
			<span class="input-group-text">€</span>
		</span>
		<input type="number" [(ngModel)]="project.amount" id='amount' name="amount" required min="0" #amount='ngModel'>
		<span class="badge">
			<span class="input-group-text">.00</span>
		</span>
		<div *ngIf="amount.invalid && (amount.dirty || amount.touched)" class="alert alert-danger">
			<div *ngIf="amount.errors.required" class="invalid-feedback">El importe debe ser mayor o igual a 0</div>
		</div>
		<br>


		<!--
		Como no se han implementado las publicaciones se quedará como input de texto
		TODO: Convertir en select
		<label for="relatedPublications">Publicaciones relacionadas</label>
		<input type="text" [(ngModel)]="project.relatedPublications" id='relatedPublications' name="relatedPublications"
		 #relatedPublications='ngModel'>
		<div *ngIf="relatedPublications.invalid && (relatedPublications.dirty || relatedPublications.touched)" class="alert alert-danger">

		</div>
		<br>


		Como no se han implementado las herramientas se quedará como input de texto
		TODO: Convertir en select
		<label for="relatedTools">Herramientas relacionadas</label> <input type="text" [(ngModel)]="project.relatedTools" id='relatedTools'
		 name="relatedTools" #relatedTools='ngModel'>
		<div *ngIf="relatedTools.invalid && (relatedTools.dirty || relatedTools.touched)" class="alert alert-danger">

		</div>
		<br>
		-->


		<button type="submit" class="btn btn-primary" id="submitForm"
			[disabled]="!formProject.form.valid || formProject.errors || validateLeader() == false || !finalResearchers.length >=1 || !finalWorkers.length >=1 || !finalLeaders.length >=1">Enviar</button>
	</form>
</fieldset>

<!--
<fieldset>
	<legend>Busqueda por id</legend>
	<input type="text" [(ngModel)]="projectId" (keyup.enter)="find()" id="idInput" />
	<div *ngIf="responseFind">
		<h5>Equipo de investigacion: {{responseFind.researchTeam}}</h5>
		<h5>Equipo de trabajo: {{responseFind.workTeam}}</h5>
		<h5>Personal contratado: {{responseFind.hiredStaff}}</h5>
		<h5>Titulo: {{responseFind.title}}</h5>
		<h5>Descripcion: {{responseFind.description}}</h5>
		<h5>Responsable: {{responseFind.leader}}</h5>
		<h5>Referencia: {{responseFind.reference}}</h5>
		<h5>Competencia: {{responseFind.scope}}</h5>
		<h5>Estado: {{responseFind.status}}</h5>
		<h5>Patrocinador: {{responseFind.sponsor}}</h5>
		<h5>Fecha de inicio: {{responseFind.startDate | date:'longDate'}}</h5>
		<h5>Fecha de fin: {{responseFind.endDate | date:'longDate'}}</h5>
		<h5>Importe: {{responseFind.amount}}</h5>
		<h5>Publicaciones relacionadas: {{responseFind.relatedPublications}}</h5>
		<h5>Herramientas relacionadas: {{responseFind.relatedTools}}</h5>

	</div>
</fieldset>

<fieldset>
	<legend>Borrado de proyectos</legend>
	<input type="text" [(ngModel)]="projectId2" (keyup.enter)="delete()" id="idInput2" />
</fieldset>
-->