<fieldset>
	<h1>LISTADO DE PROYECTOS</h1>
	<!--
	<button type="button" class="btn btn-primary" (click)="listar(true)" id="listPublicProyectsButton">Listar</button>
	<button type="button" class="btn btn-primary" (click)="listar(false)"
		id="unlistPublicProyectsButton">Ocultar</button>-->
	<br>
	<div class="row" name="search">
		<div class="col">
			<i class="fas fa-search"></i>
			<input class ="form-control" [(ngModel)]="searchText" placeholder="Busca por nombre o referencia" name="filterInput">
		</div>
	</div>
	<div class="col" style="text-align:right">
		<button style="margin-left: 1em" class="btn btn-primary" [routerLink]="['/project']" id="createProject">Crear proyecto</button>
		<button style="margin-left: 1em" class="btn btn-warning" [routerLink]="['/stats/project']" name="stats">Estadísticas</button>	
	</div>
	<div class="row" id="listPublicProyectsTable">
		<!-- <app-acomplete id="searchpp" [allList]="search" [finalList]="finalSearch" (keyup.enter)="actualizarLista()">
		</app-acomplete> -->
		<br/>
			<div class="col-10 offset-1">
				<div class="panel panel-default" style="border: 0px">
					<div class="panel-body">
						<div class="pull-right">
							<div class="btn-group">
								<button type="button" class="btn btn-success btn-filter press" data-target="activo"
									(click)="boton('activo')">Activos</button>
								<button type="button" id="tresAnyosFilter" class="btn btn-warning btn-filter press" style="background-color: #f47c3c" data-target="tres"
									(click)="boton('tres')">3
									años</button>
								<button type="button" class="btn btn-danger btn-filter press" data-target="cinco"
									(click)="boton('cinco')">5
									años</button>
								<button type="button" class="btn btn-light btn-filter press" data-target="all"
									(click)="boton('all')">Todos</button>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-filter table-striped">
								<tbody>
									<tr *ngFor="let invPro of listado2 | filterProjects: searchText"
										[attr.data-status]="getStatus(invPro)">
										<!--Hacer javascript para averiguarlo-->
										<td>
											<div class="media" (click)="openDialog(invPro)">
												<div class="media-body">
													<!--datos-->
													<span
														class="media-meta pull-right" name="endDate">{{ invPro.endDate | date}}</span>
													<span class="media-meta pull-right" *ngIf="invPro.startDate"> / </span>
													<span
														class="media-meta pull-right" name="startDate">{{ invPro.startDate | date}}</span>
													<h4 class="title" style="color: teal">
														{{ invPro.title }}
														<div>
														<span
															[attr.class]="getStatus(invPro)">{{ getStatus(invPro) }}</span>
														</div>
														<!--Rellenar una vez tengamos javascript-->
													</h4>
													<p class="summary" *ngIf="invPro.scope != 'NONE' && invPro.reference" name="scope-reference">{{ invPro.scope }} - {{ invPro.reference }}</p>
													<p class="summary" *ngIf="invPro.scope != 'NONE' && !invPro.reference" name="scope-reference">{{ invPro.scope }}</p>
													<p class="summary" *ngIf="invPro.scope == 'NONE'" name="scope-reference">{{ invPro.reference }}</p>
												</div>
											</div>
											<div style="text-align: right">
											<button class="btn btn-primary" type="button" name="displayButton"
												(click)="displayProject(invPro._id)">Mostrar</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
	</div>
</fieldset>
<br>