<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
<div class ="jumbotron" style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/scopus']" routerLinkActive="active">Scopus <span class="sr-only"></span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pubBar" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Publicaciones
          </a>
          <div class="dropdown-menu" aria-labelledby="pubBar">
              <button class="dropdown-item" [routerLink]="['/publication']" routerLinkActive="active" >Crear publicaciones</button>
              <button class="dropdown-item" [routerLink]="['/publications']" routerLinkActive="active" >Lista de publicaciones</button>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Proyectos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <button class="dropdown-item" [routerLink]="['/projects']" routerLinkActive="active" >Proyectos publicos</button>
              <button class="dropdown-item" [routerLink]="['/contracts']" routerLinkActive="active" >Contratos</button>
              <button class="dropdown-item" [routerLink]="['/nets']" routerLinkActive="active" >Redes</button>
          </div>
        </li>
      </ul>
    </div>
  </nav>

<!-- <div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
			<button class="dropdownBasic" id="dropdownBasic1" [routerLink]="['/home']" routerLinkActive="router-link-active" >Inicio</button>
      <button class="dropdownBasic" id="dropdownBasic2" ngbDropdownToggle>Que hacemos</button>
      <div class="dropdownMenu" ngbDropdownMenu aria-labelledby="dropdownBasic2">
        <button class="dropdown-item" [routerLink]="['/projects']" routerLinkActive="router-link-active" >Proyectos publicos</button>
        <button class="dropdown-item" [routerLink]="['/contracts']" routerLinkActive="router-link-active" >Contratos</button>
				<button class="dropdown-item" [routerLink]="['/nets']" routerLinkActive="router-link-active" >Redes</button>
				<button class="dropdown-item" [routerLink]="['/investigationProjects']" routerLinkActive="router-link-active" >Proyectos de investigacion</button>
      </div>
    </div>
  </div>
</div> -->
<br>
<router-outlet></router-outlet>
</div>