<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
<div class ="jumbotron" style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
			<button class="dropdownBasic" id="dropdownBasic1" [routerLink]="['/home']" routerLinkActive="router-link-active" >Inicio</button>
      <button class="dropdownBasic" id="dropdownBasic2" ngbDropdownToggle>Que hacemos</button>
      <div class="dropdownMenu" ngbDropdownMenu aria-labelledby="dropdownBasic2">
        <button class="dropdown-item" [routerLink]="['/projects']" routerLinkActive="router-link-active" >Proyectos publicos</button>
        <button class="dropdown-item" [routerLink]="['/contracts']" routerLinkActive="router-link-active" >Contratos</button>
				<button class="dropdown-item" [routerLink]="['/nets']" routerLinkActive="router-link-active" >Redes</button>
				<button class="dropdown-item" [routerLink]="['/investigationProjects']" routerLinkActive="router-link-active" >Proyectos de investigacion</button>
      </div>
    </div>
  </div>
</div>

<!--
<div class="panel panel-primary">
<div class="panel-heading">Links</div>
<div class="panel-body">
<nav>
	<a routerLink='/home' routerLinkActive='active'>Inicio</a><br>
	<a routerLink='/projects' routerLinkActive='active'>Proyectos</a><br>
	<a routerLink='/contracts' routerLinkActive='active'>Contratos</a><br>
	<a routerLink='/nets' routerLinkActive='active'>Redes</a><br>
	<a routerLink='/investigationProjects' routerLinkActive='active'>Proyectos de investigacion</a><br>
</nav>
</div>
</div>
-->
<br>
<router-outlet></router-outlet>
</div>