<fieldset>
  <h1>LISTADO DE MIEMBROS</h1>
  <!--
	<button type="button" class="btn btn-primary" (click)="listar(true)" id="listPublicProyectsButton">Listar</button>
	<button type="button" class="btn btn-primary" (click)="listar(false)"
		id="unlistPublicProyectsButton">Ocultar</button>-->
  <br>
  <div class="row" name="search">
    <div class="col">
      <i class="fas fa-search"></i>
      <input class="form-control" placeholder="Nombre-Apellidos" #filtro (keyup)=filter(filtro) name="filterPerson">  
    </div>
  </div>
  <div class="col" style="text-align:right">
      <button style="margin-left: 1em" class="btn btn-primary" [routerLink]="['/person']" id="createPerson">Crear perfil</button>
  </div>
  <br/>
  <div class="row" id="listPersonTable">
    <!-- <app-acomplete id="searchpp" [allList]="search" [finalList]="finalSearch" (keyup.enter)="actualizarLista()">
		</app-acomplete> -->
      <div class="col-10 offset-1">
            <div class="table-responsive">
              <table class="table table-filter table-striped">
                <tbody>
                  <tr *ngFor="let per of listado2">
                    <!--Hacer javascript para averiguarlo-->
                    <td>
                      <div (click)="openDialog(per)" style="height: 5em;" id="personDiv">
                        <div style="width: 5em !important; display: block; float: left;">
                          <img [src]="per.photo" alt="Photo" class="rounded-circle img-fluid" 
                          [style.border]="per.job == 'RESEARCHER' ? '3px outset #93c54b' : '3px outset #4b0082'">
                        </div>
                        <div class="media" style="float: left; padding-left: 1em;">
                          <div class="media-body">
                            <!--datos-->
                            <h4 class="title" style="color: teal">
                              {{ per.name }} {{per.surname}}
                            </h4>

                            <span>{{per.job}}</span>
                          </div>
                        </div>
                      </div>
                      <div style="text-align: right">
                      <button class="btn btn-primary" type="button" name="displayButton" (click)="displayPerson(per._id)">
                        Mostrar</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
  </div>
</fieldset>
<br>