<fieldset>
  <h1>Listado de miembros</h1>
  <!--
	<button type="button" class="btn btn-primary" (click)="listar(true)" id="listPublicProyectsButton">Listar</button>
	<button type="button" class="btn btn-primary" (click)="listar(false)"
		id="unlistPublicProyectsButton">Ocultar</button>-->
  <br>
  <div class="row" id="listPersonTable">
    <label style="width: auto; padding-left: 3em" for="searchpp">Búsqueda por nombre y apellidos</label>
    <input placeholder="Introduce aquí tu filtrado" #filtro (keyup)=filter(filtro)>
    <!-- <app-acomplete id="searchpp" [allList]="search" [finalList]="finalSearch" (keyup.enter)="actualizarLista()">
		</app-acomplete> -->
    <button style="margin-left: 1em" class="btn-primary" [routerLink]="['/person']">Crear perfil</button>
    <section class="content">
      <br>
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="table-container">
              <table class="table table-filter">
                <tbody>
                  <tr *ngFor="let per of listado2"
                    [style.background-color]="per.job == 'RESEARCHER' ? '#e8e9ea' : '#ffffff'">
                    <!--Hacer javascript para averiguarlo-->
                    <td>
                      <div (click)="openDialog(per)" style="height: 5em;">
                        <div style="width: 5em !important; display: block; float: left;">
                          <img [src]="per.photo" alt="Photo" style="width: 5em;" class="rounded-circle img-fluid">
                        </div>
                        <div class="media" style="float: left; padding-left: 1em;">
                          <div class="media-body">
                            <!--datos-->
                            <h4 class="title">
                              {{ per.name }} {{per.surname}}
                            </h4>

                            <span>{{per.job}}</span>
                          </div>
                        </div>
                      </div>
                      <button class="btn-primary" type="button" (click)="displayPerson(per._id)"
                        style="float: left; margin-left: 6em;">Display</button>

                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</fieldset>
<br>