
  <mat-chip-list #chipList class="col-lg-7">
    <mat-chip *ngFor="let element of finalList" [selectable]="selectable" [removable]="removable"
      (removed)="remove(element)">
      {{element}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <div class="divAutocomplete">
      <input #basicInput [formControl]="basicCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)" class="form-control col-lg-7">
    </div>
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let el of filteredList | async" [value]="el">
      {{el}}
    </mat-option>
  </mat-autocomplete>
