/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

.active{
    background-color: transparent;
    border-radius:5px;
    color: #294B5E !important;
}

.input{
    border: 1px solid !important;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; 
  }
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; 
}

body{
    color: #2d0606;
    /* background-image: url("../images/background4.jpg"); */
    /* background-size: 500px; */
    background-color: #F9F9FF;
    font-family: 'Poppins', sans-serif !important;
}

label {
    padding: 15px;
    width: 250px;
}

input[type=text]:not([id*=Date]) {
    width: 70%;
    /*border-radius: 5px;*/
}

button[type=submit] {
    margin: 15px;
}

.navbar-nav {
    width: 100%;
}

h1 {
    font-size: 2em;
    font-style: italic;
    color: #383026;
    padding: 2em;
    background-image: url("assets/background4.jpg");
    background-size: 500px;
    text-align: center;
}

.nav-item {
    margin: 0;
    float: right;
    position: relative;
}

.navbar {
    background-color: #FFFFFF !important;
    width: 100% !important;
    height: fit-content !important;
    padding-top: 0.5% !important;
    padding-bottom: 0.5% !important;
    font-weight: 800 !important;
    font-size: 0.9em !important;
    border-style: none;
    float: right !important;
}

.nav-link{
    float: right !important;
    clear: left;
}

.nav-link:hover {
    color: #294B5E !important;
}

.img-logo {
    padding-left:1em;
}

.container {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0% !important;
}

fieldset {
    border-radius: 8px;
    background-color: #F9F9FF;
    padding: 20px;
    max-width: 90% !important;
    margin: auto;
    align-content: center !important;
}

.custom-select {
    width: 18em;
    height: auto;
}

ngb-datepicker-navigation-select > .custom-select{
    width: 100%;
    padding: 0em 1em 0em 1em;
}

.invalid-feedback {
    display: block;
}

.input-group-text{
    padding: 1em;
    line-height: 0px;
}

ngb-datepicker-navigation-select .custom-select{
    padding: 0px !important;
}

div.requiredInputs input.ng-touched.ng-invalid ,div.requiredInputs select.ng-touched.ng-invalid{
    border-color: #d9534f;
    padding-right: 2.8125rem;
    background-repeat: no-repeat;
    background-position: center right calc(2.8125rem / 4);
    background-size: calc(2.8125rem / 2) calc(2.8125rem / 2);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") !important;
  }

div.requiredInputs input.ng-touched.ng-valid ,div.requiredInputs select.ng-touched.ng-valid{
border-color: #4BBF73;
  padding-right: 2.8125rem;
  background-repeat: no-repeat;
  background-position: center right calc(2.8125rem / 4);
  background-size: calc(2.8125rem / 2) calc(2.8125rem / 2);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%234BBF73' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") !important;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-calendar:before {
    content: "\e109";
}

.divAutocomplete{
    box-sizing: border-box;
    border-left: 5px solid; 
    border-color: brown;
    background-color: white;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #353535;
}

.panel {
	border: 1px solid #ddd;
	background-color: #fcfcfc;
}
.panel .btn-group {
	margin: 15px 0 15px;
}
.panel .btn-group .btn {
	transition: background-color .3s ease;
}

.panel .btn-group .btn-danger{
	background-color:indigo;
}


.table-filter {
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
}
.table-filter tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #eee;
}
.table-filter tbody tr.selected td {
	background-color: #eee;
}
.table-filter tr td:first-child {
	width: 38px;
}
.table-filter tr td:nth-child(2) {
	width: 35px;
}
.table-filter .media-body {
    display: block;
    /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
}

.pull-right {
    float: right !important;
}

.table-filter .media-meta {
	font-size: 11px;
	color: #999;
}
.table-filter .media .title {
	color: #2BBCDE;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
}
.table-filter .media .title span {
	font-size: .8em;
	margin-right: 20px;
}
.table-filter .media .title span.activo {
    color: #5cb85c;
    float: right !important;
}
.table-filter .media .title span.tres {
    color: #f0ad4e;
    float: right !important;
}
.table-filter .media .title span.cinco {
    color: indigo;
    float: right !important;
}
.table-filter .media .summary {
	font-size: 14px;
}

.row {
    display: block;
}

button.press {
    border: none;
    box-shadow: 0 10px #27496d;
}

button.press:hover, button.press.hover {
    background-color: #417cb8
}
  
button.press:active, button.press.active {
    background-color: #417cb8;
    box-shadow: 0 5px #27496d;
    transform: translateY(5px);
}

.col-md-8 {
    margin: auto;
}

.thead-display {
    color: #2BBCDE;
	font-size: 14px;
	font-weight: bold;
    line-height: normal;
} 

.thbody-display .encabezado {
    color: #86725a;
	line-height: normal;
}

li.right.nav-item {
    float: right;
    display: block;
}

li.left.nav-item {
    float: left;
    display: block;
}

ul.navbar-nav.mr-auto {
    width: 100% !important;
    display: block !important;
}