<fieldset>
  <h1>LISTADO DE PUBLICACIONES</h1>
  <br>
  <div class="row" name="search">
    <div class="col">
      <i class="fas fa-search"></i>
    </div>
    <div class="col">
        <input class="form-control" [(ngModel)]="searchText" placeholder="Nombre-Fecha-Autor" name="filterInput">
    </div>
    <div class="col" style="text-align:right">
        <button style="margin-left: 1em" type="button" class="btn btn-primary" [routerLink]="['/publication']"
        id="createPublication">Crear</button>
        <button style="margin-left: 1em" type="button" class="btn btn-primary" [routerLink]="['/publications/import']"
        id="importPublications">Importar</button>
        <button style="margin-left: 1em" type="button" class="btn btn-primary" [routerLink]="['/stats/publication']"
        name="stats">Estadísticas</button>
    </div>
  </div>
  <div class="row" id="listPublicationsTable">
    <section class="content">
      <br>
      <div class="col-8 offset-2">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="table-container">
              <table class="table table-filter">
                <tbody>
                  <tr *ngFor="let pub of listado | filterPublications: searchText" [ngClass]="{'selected': checkBox}">
                    <td>
                      <div class="media">
                        <div class="media-body">
                          <span *ngFor="let auth of pub.authors" name="author">{{auth.name}} {{auth.surname}} </span>:
                          <a href="https://dx.doi.org/{{pub.DOI}}" target="_blank"
                            name="title">{{pub.articleTitle}}</a>.
                          <span name="source">{{pub.sourceTitle}}:</span>
                          <span name="pageRange">{{pub.pageRange}}</span> <span
                            name="publicationDate">({{pub.publicationDate}})</span>
                          <p><a href="https://dx.doi.org/{{pub.DOI}}" target="_blank">Ir a la publicación</a></p>
                          <button type="button" class="btn btn-primary" name="displayButton" type="button"
                            (click)="displayPublication(pub._id)">Mostrar</button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</fieldset>