<fieldset>
  <h1>LISTADO DE PUBLICACIONES</h1>
  <br>
  <div class="row" name="search">
    <div class="col">
      <i class="fas fa-search"></i>
      <input class="form-control" [(ngModel)]="searchText" placeholder="Autor-Nombre-Fecha" name="filterInput">
    </div>
    <div class="col" style="text-align:right">
      <button style="margin-left: 1em" type="button" class="btn btn-primary" [routerLink]="['/publication']"
        id="createPublication">Crear</button>
      <button style="margin-left: 1em" type="button" class="btn btn-warning" [routerLink]="['/publications/import']"
        id="importPublications">Importar</button>
      <button style="margin-left: 1em" type="button" class="btn btn-primary" [routerLink]="['/stats/publication']"
        name="stats">Estadísticas</button>
    </div>
  </div>
<br/>
  <div class="row" id="listPublicationsTable">
    <div class="col-10 offset-1">
      <div class="table-responsive">
        <table class="table table-filter table-striped">
          <tbody>
            <tr *ngFor="let pub of listado | filterPublications: searchText" [ngClass]="{'selected': checkBox}">
              <td>
                <div class="media">
                  <div class="media-body">
                    <span *ngFor="let auth of pub.authors" style="font-weight: bold;" name="author">{{auth.name}} {{auth.surname}} </span>:
                    <a class="btn-link" href="https://dx.doi.org/{{pub.DOI}}" style="font-style: italic" target="_blank" name="title">{{pub.articleTitle}}</a>.
                    <span name="source">{{pub.sourceTitle}}:</span>
                    <span name="pageRange">{{pub.pageRange}} </span> 
                    <span name="publicationDate" style="font-weight: bold">({{pub.publicationDate}})</span>
                    <br/>
                    <br/>
                    <button type="button" class="btn btn-primary" name="displayButton" type="button"
                      (click)="displayPublication(pub._id)">Mostrar</button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</fieldset>